.hero {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--title {
    margin-bottom: 0;
    font-size: xx-large;
}

.hero--text {
    margin: 0;
    max-width: 50%;
}