body {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkblue;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.header h1 {
  flex: 1;
}

.header img {
  margin: auto;
}

.footer {
  color: white;
  background: black;
  text-align: center;
  padding: 0.5em;
}

.content {
  flex: 1;
  padding: 1em;
  background: lightgray;
}